[ req ]
distinguished_name = dn
x509_extensions = v3_leaf
prompt = no

[ dn ]
C = PH
ST = Cebu
L = Cebu City
O = Enzo Tech Computer Solutions
OU = IT
CN = www.enzotechcomputersolutions.com

[ v3_leaf ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature
extendedKeyUsage = clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid